[user]
	email = nils.gehlin@stadium.com
	name = Nils Gehlin
[core]
	pager = delta
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	l = log --oneline -10
[init]
	defaultBranch = main
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
