[user]
	name = Nils Gehlin
	email = nils.gehlin@stadium.com
[core]
	pager = cat
	editor = nvim
[alias]
	l = log --graph --abbrev-commit --date=relative --pretty=format:'%C(auto)%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(auto)%d%Creset' -10
	lb = l master..HEAD
	lfp = l --first-parent
	m = merge --no-ff
	tomerge = !sh -c 'git branch -r --no-merged ${2:-HEAD} | grep -Ev "HEAD" | grep -Ev \"(\\*|master|test|devtest)\" | grep ${1:-.}' -
	blameconflict = blame -L '/^<<<</,/^>>>>/'
	contains = branch -a --contains
	co = checkout
	oldest-ancestor = !bash -c 'diff --old-line-format= --new-line-format= <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -
	topiclgp = !sh -c \"git lfp $(git oldest-ancestor origin/$(echo $1 | sed -e 's|origin/||g') ${2:-master})..origin/$(echo $1 | sed -e 's|origin/||g')\" -
	mergedtopicsintotopic = !sh -c \"git topiclgp $1 | grep Merge | sed -e 's/.*\\(SP-[0-9]*\\).*/\\1/g' | sort | uniq\" -
	rmbranch = "!f(){ : branch git branch -d ${1}; git push origin --delete ${1}; };f"
[rerere]
	enabled = true
